<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My tasks</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" (click)="onChangeFilter()" aria-label="Example icon-button with share icon">
      <mat-icon>sort</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<h1 *ngIf="user && user.name">Hello, {{ user?.name }}</h1>

<form #f="ngForm" class="todo-form">
  <mat-form-field class="full-width">
    <mat-label>What needs to be done?</mat-label>
    <input matInput name="todo" ngModel required minlength="4" (keypress)="onUserTyped($event, f)" placeholder="Type in a task" value="Sushi">
  </mat-form-field>
  <button color="accent" [disabled]="f.invalid" (click)="onAddTodo(f)" mat-raised-button>Add</button>
</form>

<mat-list>
  <mat-list-item *ngFor="let todo of (todos | todoFilter:filter)">
    <mat-checkbox [checked]="todo.done" [id]="todo.id" (change)="onToggletodo(todo)">{{ todo.label }}</mat-checkbox>
    <button mat-icon-button [ngClass]="{ 'mobile': isMobile }" title="Remove todo" (click)="onRemoveTodo(todo)">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item *ngIf="todos.length === 0">Nothing yet...</mat-list-item>
</mat-list>
